.sliding-div {
    /* font-family: , sans-serif; */
    width: 100%;
    height: 100px;
    /* color: #fff; */
    text-align: center;
    position: absolute;
    bottom: -3rem;
    right: 0;
    transform: translateY(-1500px);
    transition: transform 0.9s ease-in-out;
    font-size: 3rem;
  }
  
  .slide-in {
    transform: translateY(245px);

  }
   
  @media screen and (max-width: 600px){
    .sliding-div {
      /* font-family: , sans-serif; */
      width: 100%;
      height: 50px;
      /* color: #fff; */
      text-align: center;
      position: absolute;
      bottom: 9rem;
      right: 0;
      transform: translateY(-1500px);
      transition: transform 0.9s ease-in-out;
      font-size: 3rem;
    }
    
    .slide-in {
      transform: translateY(245px);
  
    }
  }