.y {
    height: 100vh;
    flex-flow: column nowrap;
}

.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
}

.y.mandatory-scroll-snapping.always-stop {
    scroll-snap-stop: always;
    width: 100%;
    height: 100%;
}

/* .y > section {
    scroll-snap-stop: always;
    width: 100%;
    height: 100%;
} */
